body{
    font-family: Helvetica Neue, Arial,sans-serif;
    font-size: 14px;
    color: #444;
}

table {
    border: 2px solid antiquewhite;
    border-radius: 3px;
    background-color: #fff;
}

th{
    background-color:antiquewhite;
    color: wheat;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select:none;
    -user-select: none;
}

td {
    background-color: aquamarine;
}

th,td{
    min-width: 120px;
    padding: 10px 20px;
}

th.active {
    color: navy;
}

th.active .arrow{
    opacity: 1;
}

.arrow{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height:0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 4px solid navy;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-top: 4px solid navy;
}

#searcch {
    margin-bottom: 10px
}

